<ng-container *ngIf="displayRows">
  <div class="row">
    <div class="column" style="background-color:#aaa;" [ngStyle]="{'width':unitItemSize}"
      *ngFor="let size of unitItemArray;let i=index">
      <h2>Column {{i+1}}</h2>
      <p *ngFor="let item of addressLayoutSequenceList[i]" translate>{{item}}<br>
        <input type="text"/>
    </p>
    </div>
  </div>
</ng-container>
