<div class="dropdown">
  <div id="myDropdown" class="dropdown-content">
    <div style="width: 100%;">
      <div style="width:98%;float:left">
        <input type="text" class="selectTextBox" [(ngModel)]="selectedText" [placeholder]="emptyText"  (keyup)="filterFunction($event)">
      </div>
      <div style="width:2%;float:left">
        <button (click)="toggleDropDown()" class="dropbtn">&#9660;</button>
      </div>
    </div>
    <div *ngIf="isOpen" style="padding-top: 2%;">
      <a *ngFor="let item of inputList;let i = index" [name]="i">{{displayString(item)}}</a>
    </div>
  </div>
</div>