/* Dropdown Button */
.dropbtn {
    background-color:  #00679E;;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 100%;
    min-height: 35px;
    border-radius: 0% 13% 13% 0%;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #00679E;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');*/
    /*background-position: 14px 12px;*/
    background-repeat: no-repeat;
    font-size: 16px;
    /*padding: 14px 20px 12px 45px;*/
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width:100%
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .selectTextBox{
    border-radius: 0% 0% 4% 0%
  }