<!--
<div>
The content below is only a placeholder and can be replaced.

  <div>
    translation: translation pipe
    <h1>{{ 'demo.title' | translate }}</h1>

    translation: directive (key as attribute)
    <p [translate]="'demo.text'"></p>

     translation: directive (key as content of element)
    <p translate>demo.text</p>



    translation: translation pipe
    <p>{{ 'demo.greeting' | translate:{'name':'Andreas'} }}</p>

    translation: directive (key as attribute)
    <p [translate]="'demo.greeting'" [translateParams]="{name: 'Andreas'}"></p>

    translation: directive (key as content of element
    <p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>
  </div>
</div>
-->
<select (change)="selectedLanguage($event.target.value)">
  <option *ngFor="let lang of languageMenu" [value]="lang">{{lang|translate}}</option>
</select>
<!--

<div>
  <div class="locale-box">
    <fd-popover placement="top-start" #localizationPopOver>
      <fd-popover-control>
        <button fd-button [options]="'menu'" [glyph]="'home-share'"></button>
      </fd-popover-control>
      <fd-popover-body>
        <fd-menu>
          <ul fd-menu-list>
            <li fd-menu-item *ngFor="let lang of languageMenu"
              (click)="selectedLanguage(lang);localizationPopOver.close();" i18n>
              {{lang|translate}}
            </li>
          </ul>
        </fd-menu>
      </fd-popover-body>
    </fd-popover>
  </div>
</div>
-->
<div>
  <address-panel [itemSize]="itemSize" [addressLayout]="addressLayout"></address-panel>
</div>


<text-select-box></text-select-box>